web/WEB-INF/wsdl/127.0.0.1_8280/servicioConsultaU.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tel_cel" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="reservasCliente" type="tns:reserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="mascotasCliente" type="tns:mascota" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="bozal" type="xs:boolean"></xs:element>
<xs:element name="correa" type="xs:boolean"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaReserva" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="listaMascotas" type="tns:mascota" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listaServicios" type="tns:servicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listaTurnos" type="tns:turno" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mascota" abstract="true">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="raza" type="tns:raza" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raza">
<xs:sequence>
<xs:element name="raza" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicio" abstract="true">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="turno">
<xs:sequence>
<xs:element name="hora" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>