web/WEB-INF/wsdl/127.0.0.1_8280/servicioVentas.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ServicioContVentas">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioVentas?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="obtenerProductos"></message>
<message name="obtenerProductosResponse">
<part name="return" type="tns:listProductos"></part>
</message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="productosaVender"></message>
<message name="productosaVenderResponse">
<part name="return" type="tns:listProductos"></part>
</message>
<message name="eliminaraVender">
<part name="codigo" type="xsd:long"></part>
</message>
<message name="eliminaraVenderResponse"></message>
<message name="setaVender">
<part name="codigo" type="xsd:long"></part>
</message>
<message name="setaVenderResponse"></message>
<message name="finalizarVenta">
<part name="cliente" type="tns:cliente"></part>
</message>
<message name="finalizarVentaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="limpiarVenta"></message>
<message name="limpiarVentaResponse"></message>
<message name="obtenerProducto">
<part name="Codigo" type="xsd:long"></part>
</message>
<message name="obtenerProductoResponse">
<part name="return" type="tns:producto"></part>
</message>
<message name="despublicar"></message>
<message name="despublicarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="WSContVentas">
<operation name="obtenerProductos">
<input wsam:Action="http://Servicios/WSContVentas/obtenerProductosRequest" message="tns:obtenerProductos"></input>
<output wsam:Action="http://Servicios/WSContVentas/obtenerProductosResponse" message="tns:obtenerProductosResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/WSContVentas/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/WSContVentas/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="productosaVender">
<input wsam:Action="http://Servicios/WSContVentas/productosaVenderRequest" message="tns:productosaVender"></input>
<output wsam:Action="http://Servicios/WSContVentas/productosaVenderResponse" message="tns:productosaVenderResponse"></output>
</operation>
<operation name="eliminaraVender">
<input wsam:Action="http://Servicios/WSContVentas/eliminaraVenderRequest" message="tns:eliminaraVender"></input>
<output wsam:Action="http://Servicios/WSContVentas/eliminaraVenderResponse" message="tns:eliminaraVenderResponse"></output>
</operation>
<operation name="setaVender">
<input wsam:Action="http://Servicios/WSContVentas/setaVenderRequest" message="tns:setaVender"></input>
<output wsam:Action="http://Servicios/WSContVentas/setaVenderResponse" message="tns:setaVenderResponse"></output>
</operation>
<operation name="finalizarVenta">
<input wsam:Action="http://Servicios/WSContVentas/finalizarVentaRequest" message="tns:finalizarVenta"></input>
<output wsam:Action="http://Servicios/WSContVentas/finalizarVentaResponse" message="tns:finalizarVentaResponse"></output>
</operation>
<operation name="limpiarVenta">
<input wsam:Action="http://Servicios/WSContVentas/limpiarVentaRequest" message="tns:limpiarVenta"></input>
<output wsam:Action="http://Servicios/WSContVentas/limpiarVentaResponse" message="tns:limpiarVentaResponse"></output>
</operation>
<operation name="obtenerProducto">
<input wsam:Action="http://Servicios/WSContVentas/obtenerProductoRequest" message="tns:obtenerProducto"></input>
<output wsam:Action="http://Servicios/WSContVentas/obtenerProductoResponse" message="tns:obtenerProductoResponse"></output>
</operation>
<operation name="despublicar">
<input wsam:Action="http://Servicios/WSContVentas/despublicarRequest" message="tns:despublicar"></input>
<output wsam:Action="http://Servicios/WSContVentas/despublicarResponse" message="tns:despublicarResponse"></output>
</operation>
</portType>
<binding name="WSContVentasPortBinding" type="tns:WSContVentas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="obtenerProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="productosaVender">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="eliminaraVender">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="setaVender">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="finalizarVenta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="limpiarVenta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="despublicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioContVentas">
<port name="WSContVentasPort" binding="tns:WSContVentasPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioVentas"></soap:address>
</port>
</service>
</definitions>