web/WEB-INF/wsdl/127.0.0.1_8280/servicioReserva.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ServicioContReserva">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioReserva?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getTipoBanio"></message>
<message name="getTipoBanioResponse">
<part name="return" type="tns:listTipoBanio"></part>
</message>
<message name="getPrecioPaseo"></message>
<message name="getPrecioPaseoResponse">
<part name="precio" type="xsd:float"></part>
</message>
<message name="eliminarReserva">
<part name="idReserva" type="xsd:long"></part>
</message>
<message name="eliminarReservaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="modificarReserva">
<part name="reserva" type="tns:reservaWS"></part>
</message>
<message name="modificarReservaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getMascotasCliente">
<part name="clienteCorreo" type="xsd:string"></part>
</message>
<message name="getMascotasClienteResponse">
<part name="return" type="tns:listMascotaWS"></part>
</message>
<message name="despublicar"></message>
<message name="despublicarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getTurnosDisponibles">
<part name="fecha" type="xsd:string"></part>
</message>
<message name="getTurnosDisponiblesResponse">
<part name="return" type="tns:listTurnos"></part>
</message>
<message name="getTipoEsquilas"></message>
<message name="getTipoEsquilasResponse">
<part name="return" type="tns:listTipoEsquila"></part>
</message>
<message name="altaReserva">
<part name="reserva" type="tns:reservaWS"></part>
</message>
<message name="altaReservaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="WSContReserva">
<operation name="getTipoBanio">
<input wsam:Action="http://Servicios/WSContReserva/getTipoBanioRequest" message="tns:getTipoBanio"></input>
<output wsam:Action="http://Servicios/WSContReserva/getTipoBanioResponse" message="tns:getTipoBanioResponse"></output>
</operation>
<operation name="getPrecioPaseo">
<input wsam:Action="http://Servicios/WSContReserva/getPrecioPaseoRequest" message="tns:getPrecioPaseo"></input>
<output wsam:Action="http://Servicios/WSContReserva/getPrecioPaseoResponse" message="tns:getPrecioPaseoResponse"></output>
</operation>
<operation name="eliminarReserva">
<input wsam:Action="http://Servicios/WSContReserva/eliminarReservaRequest" message="tns:eliminarReserva"></input>
<output wsam:Action="http://Servicios/WSContReserva/eliminarReservaResponse" message="tns:eliminarReservaResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/WSContReserva/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/WSContReserva/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="modificarReserva">
<input wsam:Action="http://Servicios/WSContReserva/modificarReservaRequest" message="tns:modificarReserva"></input>
<output wsam:Action="http://Servicios/WSContReserva/modificarReservaResponse" message="tns:modificarReservaResponse"></output>
</operation>
<operation name="getMascotasCliente">
<input wsam:Action="http://Servicios/WSContReserva/getMascotasClienteRequest" message="tns:getMascotasCliente"></input>
<output wsam:Action="http://Servicios/WSContReserva/getMascotasClienteResponse" message="tns:getMascotasClienteResponse"></output>
</operation>
<operation name="despublicar">
<input wsam:Action="http://Servicios/WSContReserva/despublicarRequest" message="tns:despublicar"></input>
<output wsam:Action="http://Servicios/WSContReserva/despublicarResponse" message="tns:despublicarResponse"></output>
</operation>
<operation name="getTurnosDisponibles">
<input wsam:Action="http://Servicios/WSContReserva/getTurnosDisponiblesRequest" message="tns:getTurnosDisponibles"></input>
<output wsam:Action="http://Servicios/WSContReserva/getTurnosDisponiblesResponse" message="tns:getTurnosDisponiblesResponse"></output>
</operation>
<operation name="getTipoEsquilas">
<input wsam:Action="http://Servicios/WSContReserva/getTipoEsquilasRequest" message="tns:getTipoEsquilas"></input>
<output wsam:Action="http://Servicios/WSContReserva/getTipoEsquilasResponse" message="tns:getTipoEsquilasResponse"></output>
</operation>
<operation name="altaReserva">
<input wsam:Action="http://Servicios/WSContReserva/altaReservaRequest" message="tns:altaReserva"></input>
<output wsam:Action="http://Servicios/WSContReserva/altaReservaResponse" message="tns:altaReservaResponse"></output>
</operation>
</portType>
<binding name="WSContReservaPortBinding" type="tns:WSContReserva">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getTipoBanio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getPrecioPaseo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="eliminarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="modificarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getMascotasCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="despublicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getTurnosDisponibles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getTipoEsquilas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="altaReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioContReserva">
<port name="WSContReservaPort" binding="tns:WSContReservaPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioReserva"></soap:address>
</port>
</service>
</definitions>