web/WEB-INF/wsdl/127.0.0.1_8280/servicioConsultaUsuario.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ServicioContCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioConsultaU?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="modificarCliente">
<part name="arg0" type="tns:cliente"></part>
</message>
<message name="modificarClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="obtenerMascotasCliente">
<part name="arg0" type="tns:cliente"></part>
</message>
<message name="obtenerMascotasClienteResponse">
<part name="return" type="tns:listMascota"></part>
</message>
<message name="getMascotas"></message>
<message name="getMascotasResponse">
<part name="return" type="tns:listMascota"></part>
</message>
<message name="eliminarAnimal">
<part name="arg0" type="xsd:long"></part>
</message>
<message name="eliminarAnimalResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="obtenerMascotaPorId">
<part name="arg0" type="xsd:long"></part>
</message>
<message name="obtenerMascotaPorIdResponse">
<part name="return" type="tns:mascota"></part>
</message>
<message name="modificarAnimal">
<part name="arg0" type="tns:mascota"></part>
</message>
<message name="modificarAnimalResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="obtenerMascotas"></message>
<message name="obtenerMascotasResponse">
<part name="return" type="tns:publicarLista"></part>
</message>
<message name="existeMascota">
<part name="nombre" type="xsd:string"></part>
<part name="telefono" type="xsd:string"></part>
<part name="Cliente" type="xsd:string"></part>
</message>
<message name="existeMascotaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="obtenerRazas"></message>
<message name="obtenerRazasResponse">
<part name="return" type="tns:listRazas"></part>
</message>
<message name="resetearPassword">
<part name="email" type="xsd:string"></part>
</message>
<message name="resetearPasswordResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="activarusuario">
<part name="email" type="xsd:string"></part>
<part name="pass" type="xsd:string"></part>
</message>
<message name="activarusuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ingresarAnimal">
<part name="arg0" type="tns:mascota"></part>
</message>
<message name="ingresarAnimalResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="despublicar"></message>
<message name="despublicarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="AgregarCliente">
<part name="cedula" type="xsd:string"></part>
<part name="nombre" type="xsd:string"></part>
<part name="apellido" type="xsd:string"></part>
<part name="correo" type="xsd:string"></part>
<part name="telefono" type="xsd:string"></part>
<part name="direccion" type="xsd:string"></part>
<part name="hash" type="xsd:string"></part>
</message>
<message name="AgregarClienteResponse"></message>
<message name="obtenerCliente">
<part name="email" type="xsd:string"></part>
</message>
<message name="obtenerClienteResponse">
<part name="return" type="tns:cliente"></part>
</message>
<portType name="WSContCliente">
<operation name="publicar">
<input wsam:Action="http://Servicios/WSContCliente/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/WSContCliente/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="modificarCliente">
<input wsam:Action="http://Servicios/WSContCliente/modificarClienteRequest" message="tns:modificarCliente"></input>
<output wsam:Action="http://Servicios/WSContCliente/modificarClienteResponse" message="tns:modificarClienteResponse"></output>
</operation>
<operation name="obtenerMascotasCliente">
<input wsam:Action="http://Servicios/WSContCliente/obtenerMascotasClienteRequest" message="tns:obtenerMascotasCliente"></input>
<output wsam:Action="http://Servicios/WSContCliente/obtenerMascotasClienteResponse" message="tns:obtenerMascotasClienteResponse"></output>
</operation>
<operation name="getMascotas">
<input wsam:Action="http://Servicios/WSContCliente/getMascotasRequest" message="tns:getMascotas"></input>
<output wsam:Action="http://Servicios/WSContCliente/getMascotasResponse" message="tns:getMascotasResponse"></output>
</operation>
<operation name="eliminarAnimal">
<input wsam:Action="http://Servicios/WSContCliente/eliminarAnimalRequest" message="tns:eliminarAnimal"></input>
<output wsam:Action="http://Servicios/WSContCliente/eliminarAnimalResponse" message="tns:eliminarAnimalResponse"></output>
</operation>
<operation name="obtenerMascotaPorId">
<input wsam:Action="http://Servicios/WSContCliente/obtenerMascotaPorIdRequest" message="tns:obtenerMascotaPorId"></input>
<output wsam:Action="http://Servicios/WSContCliente/obtenerMascotaPorIdResponse" message="tns:obtenerMascotaPorIdResponse"></output>
</operation>
<operation name="modificarAnimal">
<input wsam:Action="http://Servicios/WSContCliente/modificarAnimalRequest" message="tns:modificarAnimal"></input>
<output wsam:Action="http://Servicios/WSContCliente/modificarAnimalResponse" message="tns:modificarAnimalResponse"></output>
<fault message="tns:IOException" name="IOException" wsam:Action="http://Servicios/WSContCliente/modificarAnimal/Fault/IOException"></fault>
</operation>
<operation name="obtenerMascotas">
<input wsam:Action="http://Servicios/WSContCliente/obtenerMascotasRequest" message="tns:obtenerMascotas"></input>
<output wsam:Action="http://Servicios/WSContCliente/obtenerMascotasResponse" message="tns:obtenerMascotasResponse"></output>
</operation>
<operation name="existeMascota" parameterOrder="nombre telefono Cliente">
<input wsam:Action="http://Servicios/WSContCliente/existeMascotaRequest" message="tns:existeMascota"></input>
<output wsam:Action="http://Servicios/WSContCliente/existeMascotaResponse" message="tns:existeMascotaResponse"></output>
</operation>
<operation name="obtenerRazas">
<input wsam:Action="http://Servicios/WSContCliente/obtenerRazasRequest" message="tns:obtenerRazas"></input>
<output wsam:Action="http://Servicios/WSContCliente/obtenerRazasResponse" message="tns:obtenerRazasResponse"></output>
</operation>
<operation name="resetearPassword">
<input wsam:Action="http://Servicios/WSContCliente/resetearPasswordRequest" message="tns:resetearPassword"></input>
<output wsam:Action="http://Servicios/WSContCliente/resetearPasswordResponse" message="tns:resetearPasswordResponse"></output>
</operation>
<operation name="activarusuario" parameterOrder="email pass">
<input wsam:Action="http://Servicios/WSContCliente/activarusuarioRequest" message="tns:activarusuario"></input>
<output wsam:Action="http://Servicios/WSContCliente/activarusuarioResponse" message="tns:activarusuarioResponse"></output>
</operation>
<operation name="ingresarAnimal">
<input wsam:Action="http://Servicios/WSContCliente/ingresarAnimalRequest" message="tns:ingresarAnimal"></input>
<output wsam:Action="http://Servicios/WSContCliente/ingresarAnimalResponse" message="tns:ingresarAnimalResponse"></output>
</operation>
<operation name="despublicar">
<input wsam:Action="http://Servicios/WSContCliente/despublicarRequest" message="tns:despublicar"></input>
<output wsam:Action="http://Servicios/WSContCliente/despublicarResponse" message="tns:despublicarResponse"></output>
</operation>
<operation name="AgregarCliente" parameterOrder="cedula nombre apellido correo telefono direccion hash">
<input wsam:Action="http://Servicios/WSContCliente/AgregarClienteRequest" message="tns:AgregarCliente"></input>
<output wsam:Action="http://Servicios/WSContCliente/AgregarClienteResponse" message="tns:AgregarClienteResponse"></output>
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://Servicios/WSContCliente/obtenerClienteRequest" message="tns:obtenerCliente"></input>
<output wsam:Action="http://Servicios/WSContCliente/obtenerClienteResponse" message="tns:obtenerClienteResponse"></output>
</operation>
</portType>
<binding name="WSContClientePortBinding" type="tns:WSContCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="modificarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerMascotasCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getMascotas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="eliminarAnimal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerMascotaPorId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="modificarAnimal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerMascotas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="existeMascota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerRazas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="resetearPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="activarusuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ingresarAnimal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="despublicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="AgregarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="ServicioContCliente">
<port name="WSContClientePort" binding="tns:WSContClientePortBinding">
<soap:address location="http://127.0.0.1:8280/servicioConsultaU"></soap:address>
</port>
</service>
</definitions>