src/conf/xml-resources/web-service-references/servicioVentas/wsdl/127.0.0.1_8280/servicioVentas.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:complexType name="listProductos">
<xs:sequence>
<xs:element name="lista" type="tns:producto" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="codigo" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="disponible" type="xs:boolean"></xs:element>
<xs:element name="foto" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cedula" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="compra" type="tns:venta" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:boolean"></xs:element>
<xs:element name="mascotasCliente" type="tns:mascota" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="reservasCliente" type="tns:reserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="tel_cel" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="token" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="venta">
<xs:sequence>
<xs:element name="detalles" type="tns:detalleVenta" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleVenta">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="precioTotalProductos" type="xs:float"></xs:element>
<xs:element name="producto" type="tns:producto" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mascota">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foto" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foto2" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="raza" type="tns:raza" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raza">
<xs:sequence>
<xs:element name="raza" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="bozal" type="xs:boolean"></xs:element>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="correa" type="xs:boolean"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaReserva" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="mascota" type="tns:mascota" minOccurs="0"></xs:element>
<xs:element name="servicio" type="tns:servicio" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicio">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>