src/conf/xml-resources/web-service-references/servicioConsultaUsuario/wsdl/127.0.0.1_8280/servicioConsultaUsuario.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="PublicadorConsultarUsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://127.0.0.1:8280/servicioConsultaU?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicarConsultarUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarConsultarUsuarioResponse"></message>
<message name="obtenerCliente">
<part name="email" type="xsd:string"></part>
</message>
<message name="obtenerClienteResponse">
<part name="return" type="tns:cliente"></part>
</message>
<message name="AgregarCliente">
<part name="cedula" type="xsd:string"></part>
<part name="nombre" type="xsd:string"></part>
<part name="apellido" type="xsd:string"></part>
<part name="correo" type="xsd:string"></part>
<part name="telefono" type="xsd:string"></part>
<part name="direccion" type="xsd:string"></part>
<part name="hash" type="xsd:string"></part>
</message>
<message name="AgregarClienteResponse"></message>
<portType name="PublicadorConsultarUsuario">
<operation name="publicarConsultarUsuario">
<input wsam:Action="http://servicios/PublicadorConsultarUsuario/publicarConsultarUsuarioRequest" message="tns:publicarConsultarUsuario"></input>
<output wsam:Action="http://servicios/PublicadorConsultarUsuario/publicarConsultarUsuarioResponse" message="tns:publicarConsultarUsuarioResponse"></output>
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://servicios/PublicadorConsultarUsuario/obtenerClienteRequest" message="tns:obtenerCliente"></input>
<output wsam:Action="http://servicios/PublicadorConsultarUsuario/obtenerClienteResponse" message="tns:obtenerClienteResponse"></output>
</operation>
<operation name="AgregarCliente" parameterOrder="cedula nombre apellido correo telefono direccion hash">
<input wsam:Action="http://servicios/PublicadorConsultarUsuario/AgregarClienteRequest" message="tns:AgregarCliente"></input>
<output wsam:Action="http://servicios/PublicadorConsultarUsuario/AgregarClienteResponse" message="tns:AgregarClienteResponse"></output>
</operation>
</portType>
<binding name="PublicadorConsultarUsuarioPortBinding" type="tns:PublicadorConsultarUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicarConsultarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servicios/"></soap:body>
</output>
</operation>
<operation name="AgregarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorConsultarUsuarioService">
<port name="PublicadorConsultarUsuarioPort" binding="tns:PublicadorConsultarUsuarioPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioConsultaU"></soap:address>
</port>
</service>
</definitions>